
*{
    text-shadow: 0 0 10px rgba(0,0,0,0.19);
}
body {
    /*background-color: rgba(0,0,0,0.1);*/
}
img {
    width: 65%;
}
.main-resources {
    display: inline-flex;
}
h1,h2,h3 {
    font-style: bold;
    font-size: 275%;
}
p,li {
    font-size: 150%;
}
.well{
    border-radius: 25px;
    border-left: solid rgba(0,0,0,0.3) 5px;
    border-right: solid rgba(0,0,0,0.3) 5px;
}
.btn {
    border-radius: 15px !important;
    border-left: solid rgba(0,0,0,0.3) 5px;
    border-right: solid rgba(0,0,0,0.3) 5px;
}