
*{
    text-shadow: 0 0 10px rgba(0,0,0,0.19);
}
body {
    /*background-color: rgba(0,0,0,0.1);*/
}
.ruby {
    width: 75px;
}
.main-resources {
    display: inline-flex;
}
h1,h2,h3 {
    font-style: bold;
    font-size: 275%;
}
p,li {
    font-size: 150%;
}
.logo {
    width: 350px;
}
.well{
    border-radius: 25px;
}
.btn {
    border-left: solid rgba(0,0,0,0.3) 5px;
    border-right: solid rgba(0,0,0,0.3) 5px;
}
.quote-well{
    border-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f1/Ruby_logo.png');
    border-image-width: 25px;
    border-radius: 50%;
    width: 75%;
    margin: 100px auto;
    color: red;
}